@model IEnumerable<Zona_Geek.Models.ViewAtendimentoVM>
@{
    Layout = "/Views/Shared/_LayoutGerenciamento.cshtml";
}
<body>

    <section class="maneger-page-section">
        <div class="container page-maneger">

            <div class="add-user-button">
                <h1 class="section-title cliente-title-maneger">Agendamento de Adminitrador</h1>
                <br />
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-4">
                            <input id="filtro" type="text" class="form-control" placeholder="Pesquisar Produtos..." aria-label="Filtrar" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <!-- Alteração para "text-md-end" para alinhar à direita apenas em telas médias e maiores -->
                        <button class="btn btn-success btn-lg" onclick="" data-bs-toggle="modal" data-bs-target="#InserirUsuario">
                            <i class="fa fa-plus"></i> Adicionar Cliente
                        </button>
                    </div>
                </div>
            </div>

            <!-- Tabela com cabeçalho fixo -->
            <table id="TbAtendimentos" class="table" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                <thead style="background-color: #315689; color: #EAE7DC;">
                    <tr>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 50px; position: sticky; top: 0; background-color: #315689">#id</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color:#315689;">Data/Hora de Atendimento</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Data de Atendimento</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Hora</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Nome</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">E-mail</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Telefone</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Tipo de Serviço</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Valor</th>
                        <th class="editar" style="border: 1px solid #ddd; padding: 8px; min-width: 80px; position: sticky; top: 0; background-color: #315689;">Editar</th>
                        <th class="excluir" style="border: 1px solid #ddd; padding: 8px; min-width: 80px; position: sticky; top: 0; background-color:#315689;">Excluir</th>
                    </tr>
                </thead>
            </table>

            <!-- Corpo da tabela rolável -->
            <div style="max-height: 300px; overflow-y: auto; overflow-x: auto;">
                <table id="TbAtendimentosBody" class="table" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                    <tbody>
                        @foreach (var atendimento in Model)
                        {
                            <tr>
                                <td style="color: black border: 1px solid #ddd; padding: 8px; min-width: 50px">@atendimento.Id</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.DtHorarioAgendamento</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.DataAtendimento.ToString("dd/MM/yyyy")</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.Horario.ToString("HH:mm")</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.Nome</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px; word-wrap: break-word;">@atendimento.Email</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.Telefone</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.TipoServico</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.Valor.ToString("C")</td>
                                <td class="text-center" style="border: 1px solid #ddd; min-width: 80px;">
                                    <button class="btn btn-default" onclick="definirEdt('@atendimento.Id', '@atendimento.Nome', '@atendimento.TipoServico', '@atendimento.Valor')" data-bs-toggle="modal" data-bs-target="#EditarAtendimento" style="color: #EAE7DC;">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                                <td class="text-center" style="border: 1px solid #ddd; min-width: 80px;">
                                    <button class="btn btn-default" onclick="definirExc('@atendimento.Id', '@atendimento.Nome', '@atendimento.TipoServico', '@atendimento.Valor')" data-bs-toggle="modal" data-bs-target="#ExcluirAtendimento" style="color: #EAE7DC;">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

-
        </div>
        <!--Butao Voltar-->

        <section class="container text-center">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div>
                    <button type="button" id="send-button2" class="nav-link active btn btn-danger btn-block" style="flex: 1; margin-left: 5px;" onclick="window.location.href = '/Home/Index';">
                        Voltar
                    </button>
                </div>
            </div>
        </section>

        <div class="modal fade" id="EditarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h1 class="modal-title" id="exampleModalLabel">Editar Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <p style="color:#00007e">Campos com * Azul são obrigatórios</p>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditNome" type="text" class="form-control" placeholder="Digite o nome do cliente">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditSenha" type="text" class="form-control" placeholder="Digite o a senha">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-7">
                                    <input id="EditEmail" type="email" class="form-control" placeholder="Digite o email">
                                </div>
                                <div class="col-md-5">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditTel" type="text" class="form-control" placeholder="Digite o telefone">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>
                            <input type="hidden" id="IdEdt" value="" />

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick=" AlterarUsuario()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ExcluirUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h1 class="modal-title" id="exampleModalLabel">Excluir Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" id="ExcNome" class="form-control" placeholder="Digite seu nome..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" id="ExcEmail" class="form-control" placeholder="Digite seu email..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite seu telefone..." readonly>

                            </div>
                            <input type="hidden" id="IdExc" class="form-control" placeholder="Digite seu nome..." readonly>

                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" onclick="ExcluirUsuario()" class="btn btn-primary">Excluir</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="InserirUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h1 class="modal-title" id="exampleModalLabel">Adcionar Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <p style="color:#00007e">Campos com * A são obrigatórios</p>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="Nome" type="text" class="form-control" placeholder="Digite o nome do cliente">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="Senha" type="text" class="form-control" placeholder="Digite o a senha">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-7">
                                    <input id="Email" type="email" class="form-control" placeholder="Digite o email">
                                </div>
                                <div class="col-md-5">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="Telefone" type="text" class="form-control" placeholder="Digite o telefone">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <input type="hidden" id="IdEdt" value="" />

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="InserirUsuario()">Adicionar</button><!--onclick para chamar a funcao de alteração-->
                    </div>
                </div>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/swiper/swiper-bundle.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/script.js"></script>
      
        <script>

            $(document).ready(function () {
                // Função para atualizar o contador de registros visíveis
                function atualizarContador() {
                    var visibleRows = $('#TbClientesBody tbody tr:visible').length; // Conta as linhas visíveis
                    $('#registroCount').text(visibleRows); // Atualiza o contador
                }

                // Quando o usuário digitar no campo de filtro
                $('#filtro').on('keyup', function () {
                    var value = $(this).val().toLowerCase(); // Pega o valor do campo de filtro e converte para minúsculas

                    // Filtra as linhas do corpo da tabela
                    $('#TbClientesBody tbody tr').each(function () {
                        // Verifica se qualquer célula na linha contém o valor digitado no filtro
                        var rowText = $(this).text().toLowerCase();
                        // Exibe ou oculta a linha, dependendo de conter o valor
                        $(this).toggle(rowText.indexOf(value) > -1);
                    });

                    // Atualiza o contador após filtrar as linhas
                    atualizarContador();
                });

                // Inicializa o contador de registros ao carregar a página
                atualizarContador();
            });

            function definirEdt(id, Nome, Email, Senha, TipoUsuario, Telefone) {

                $('#IdEdt').val(id);
                $('#EditNome').val(Nome);
                $('#EditSenha').val(Senha);
                $('#EditEmail').val(Email);
                $('#EditTel').val(Telefone);


                var senhaValue = "";
                if (Senha) {
                    $('#EditSenha').val(Senha);
                    senhaValue = Senha;
                }


                if ($('#DropTipoUsuarioEdit').length > 0) {
                    $('#DropTipoUsuarioEdit option').filter(function () {
                        return $(this).val() === TipoUsuario;
                    }).prop('selected', true);
                    $('#DropTipoUsuarioEdit').trigger('chosen:updated');
                } else {
                    console.error("DropDownList não encontrado.");
                }
            }

            function definirExc(id, Nome, Email, Telefone) {
                $('#IdExc').val(id);
                $('#ExcNome').val(Nome);
                $('#ExcEmail').val(Email);
                $('#ExcTel').val(Telefone)
            }

            function InserirUsuario() {

                var nome = $('#Nome').val();
                var email = $('#Email').val();
                var senha = $('#Senha').val();
                var telefone = $('#Telefone').val();
                var tipoUsuario = $('#DropTipoUsuario option:selected').val();

                if (nome.trim() === "") {
                    alert("Por favor, preencha o campo Nome.");
                    return;
                }
                if (senha.trim() === "") {
                    alert("Por favor, preencha o campo Senha.");
                    return;
                }
                if (email.trim() === "") {
                    alert("Por favor, insira um email válido.");
                    return;
                }

                if (tipoUsuario === "Escolha o Tipo de Usuário") {
                    alert("Por favor, selecione o tipo de usuário.");
                    return;
                }

                if (telefone.trim() === "") {
                    alert("Por favor, insira um número de telefone válido.");
                    return;
                }



                var dados = {
                    Nome: nome,
                    Email: email,
                    Senha: senha,
                    Telefone: telefone,
                    TipoUsuario: tipoUsuario
                };

                // Faça a chamada AJAX
                $.ajax({
                    url: '/Usuario/InserirUsuario',
                    type: "POST",
                    dataType: "json",
                    data: dados,
                    success: function (resultado) {
                        if (resultado.success) {
                            alert(resultado.message);  // Exibe a mensagem de sucesso
                            // Fecha o modal
                            $('#InserirUsuario').modal('hide');
                            // Recarrega a págInserirUsuarioina
                            location.reload();
                        } else {
                            alert(resultado.message);  // Exibe a mensagem de falha
                        }
                    },
                    error: function () {
                        alert('Erro na requisição AJAX.');
                    }
                });
            }

            function AlterarUsuario() {
                var id = $("#IdEdt").val();
                var nome = $("#EditNome").val();
                var senha = $("#EditSenha").val();
                var email = $("#EditEmail").val();
                var tel = $('#EditTel').val();
                var tipoCli = $('#DropTipoUsuarioEdit').val(); // Obtém o valor do tipo de cliente, não apenas o texto

                // Validação do campo 'Nome'
                if (!nome) {
                    alert("Por favor, preencha o campo Nome.");
                    return;
                }

                // Validação do campo 'Senha'
                if (!senha) {
                    alert("Por favor, preencha o campo Senha.");
                    return;
                }

                // Validação do campo 'Email'
                if (!email) {
                    alert("Por favor, preencha o campo Email.");
                    return;
                }

                // Validação do campo 'Telefone'
                if (!tel) {
                    alert("Por favor, preencha o campo Telefone.");
                    return;
                }

                // Validação do campo 'Tipo de Cliente'
                if (!tipoCli) {
                    alert("Por favor, selecione o Tipo de Cliente.");
                    return;
                }

                // Crie um objeto com os dados
                var dados = {
                    Id: id,
                    Nome: nome,
                    Senha: senha,
                    Email: email,
                    Telefone: tel,
                    TipoUsuario: tipoCli
                };

                // Faça a chamada AJAX para o servidor
                $.ajax({
                    type: "POST",
                    url: "/Usuario/AlterarUsuario",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(dados),
                    success: function (response) {
                        // Manipule a resposta do servidor
                        if (response.success) {
                            alert("Cliente alterado com sucesso!");
                            // Feche o modal de edição se necessário
                            $('#FormEditar').modal('hide');
                            // Recarregue a página se necessário
                            location.reload();
                        } else {
                            alert("Falha ao alterar cliente.");
                        }
                    },
                    error: function (error) {
                        // Manipule erros de requisição AJAX
                        console.error("Erro na chamada AJAX:", error);
                    }
                });
            }

            function ExcluirUsuario() {
                // Obtenha o ID do usuário a ser excluído
                var userId = $('#IdExc').val();

                // Faça uma requisição AJAX
                $.ajax({
                    type: "POST",
                    url: "/Usuario/ExcluirUsuario", // Substitua "Usuario" pelo nome do seu controller
                    data: { id: userId },
                    dataType: "json",
                    success: function (response) {
                        // A resposta do servidor está em response.success
                        if (response.success) {
                            // Feche o modal de exclusão
                            $('#ExcluirUsuario').modal('hide');
                            alert("Cliente excluido com sucesso!");

                            // Recarregue a página
                            location.reload();
                        } else {
                            alert("Falha ao excluir usuário.");
                        }
                    },
                    error: function () {
                        alert("Erro na requisição AJAX.");
                    }
                });
            }

            $(document).ready(function () {
                // Função para atualizar o contador de registros visíveis
                function atualizarContador() {
                    var visibleRows = $('#TbAtendimentosBody tbody tr:visible').length; // Conta as linhas visíveis
                    $('#registroCount').text(visibleRows); // Atualiza o contador
                }

                // Quando o usuário digitar no campo de filtro
                $('#filtro').on('keyup', function () {
                    var value = $(this).val().toLowerCase(); // Pega o valor do campo de filtro e converte para minúsculas

                    // Filtra as linhas do corpo da tabela
                    $('#TbAtendimentosBody tbody tr').each(function () {
                        // Verifica se a primeira célula (ID) na linha contém o valor digitado no filtro
                        var rowId = $(this).find('td').first().text().toLowerCase(); // Obtém o texto da primeira célula (ID)
                        // Exibe ou oculta a linha, dependendo de conter o valor
                        $(this).toggle(rowId.indexOf(value) > -1);
                    });

                    // Atualiza o contador após filtrar as linhas
                    atualizarContador();
                });

                // Inicializa o contador de registros ao carregar a página
                atualizarContador();
            });

        </script>

    </section>

</body>
