@model IEnumerable<Zona_Geek.Models.ViewAgendamentoVM>
@{
    Layout = "/Views/Shared/_LayoutGerenciamento.cshtml";
}
<body>

    <section class="maneger-page-section">
        <div class="container page-maneger">

            <div class="add-user-button">
                <h1 class="section-title cliente-title-maneger">Agendamento de Adminitrador</h1>
                <br />
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-4">
                            <input id="filtro" type="text" class="form-control" placeholder="Pesquisar Produtos..." aria-label="Filtrar" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <!-- Alteração para "text-md-end" para alinhar à direita apenas em telas médias e maiores -->
                        <button class="btn btn-success btn-lg" onclick="" data-bs-toggle="modal" data-bs-target="#InserirAgendamento">
                            <i class="fa fa-plus"></i> Adicionar Agendamento
                        </button>
                    </div>
                </div>
            </div>

            <!-- Tabela com cabeçalho fixo -->
            <table id="TbAtendimentos" class="table" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                <thead style="background-color: chocolate; color: #EAE7DC;">
                    <tr>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 50px; position: sticky; top: 0; background-color: #315689">#</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Data/Hora de Atendimento</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Data de Atendimento</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Hora</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Nome</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">E-mail</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Telefone</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Tipo de Serviço</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #315689;">Valor</th>
                        <th class="editar" style="border: 1px solid #ddd; padding: 8px; min-width: 80px; position: sticky; top: 0; background-color: #315689;">Editar</th>
                        <th class="excluir" style="border: 1px solid #ddd; padding: 8px; min-width: 80px; position: sticky; top: 0; background-color: #315689;">Excluir</th>
                    </tr>
                </thead>
            </table>

            <!-- Corpo da tabela rolável -->
            <div style="max-height: 300px; overflow-y: auto; overflow-x: auto;">
                <table id="TbAtendimentosBody" class="table" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var atendimento in Model)
                            {
                                <tr>
                                    <td style="color:  #315689; border: 1px solid  #315689; padding: 8px; min-width: 50px">@atendimento.Id</td>
                                    <td style="color:  #315689; border: 1px solid  #315689; padding: 8px; min-width: 150px">@atendimento.DtHorarioAgendamento</td>
                                    <td style="color:  #315689; border: 1px solid  #315689; padding: 8px; min-width: 150px">@atendimento.DataAtendimento.ToString("dd/MM/yyyy")</td>
                                    <td style="color:  #315689; border: 1px solid  #315689; padding: 8px; min-width: 150px">@atendimento.Horario.ToString("HH:mm")</td>
                                    <td style="color:  #315689; border: 1px solid  #315689; padding: 8px; min-width: 150px">@atendimento.Nome</td>
                                    <td style="color:  #315689; border: 1px solid  #315689; padding: 8px; min-width: 150px; word-wrap: break-word;">@atendimento.Email</td>
                                    <td style="color: #315689; border: 1px solid  #315689; padding: 8px; min-width: 150px">@atendimento.Telefone</td>
                                    <td style="color:  #315689; border: 1px solid  #315689; padding: 8px; min-width: 150px">@atendimento.TipoServico</td>
                                    <td class="text-center" style="border: 1px solid  #315689; min-width: 80px;">
                                        <button class="btn btn-default" onclick="definirEdt('@atendimento.Id', '@atendimento.Nome', '@atendimento.TipoServico', '@atendimento.Valor')" data-bs-toggle="modal" data-bs-target="#EditarUsuario" style="color:  #315689;">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center" style="border: 1px solid  #315689; min-width: 80px;">
                                        <button class="btn btn-default" onclick="definirExc('@atendimento.Id', '@atendimento.Nome', '@atendimento.TipoServico', '@atendimento.Valor')" data-bs-toggle="modal" data-bs-target="#ExcluirUsuario" style="color:  #315689;">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="11" style="text-align: center; color: #315689; padding: 8px;">Nenhum atendimento encontrado.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        <div class="modal fade" id="EditarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h1 class="modal-title" id="exampleModalLabel">Editar Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <p style="color:#00007e">Campos com * Azul são obrigatórios</p>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditNome" type="text" class="form-control" placeholder="Digite o nome do cliente">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditSenha" type="text" class="form-control" placeholder="Digite o a senha">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-7">
                                    <input id="EditEmail" type="email" class="form-control" placeholder="Digite o email">
                                </div>
                                <div class="col-md-5">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditTel" type="text" class="form-control" placeholder="Digite o telefone">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>
                            <input type="hidden" id="IdEdt" value="" />

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick=" AlterarUsuario()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ExcluirUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h1 class="modal-title" id="exampleModalLabel">Excluir Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" id="ExcNome" class="form-control" placeholder="Digite seu nome..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" id="ExcEmail" class="form-control" placeholder="Digite seu email..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite seu telefone..." readonly>

                            </div>
                            <input type="hidden" id="IdExc" class="form-control" placeholder="Digite seu nome..." readonly>

                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" onclick="ExcluirUsuario()" class="btn btn-primary">Excluir</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="InserirAgendamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h1 class="modal-title" id="exampleModalLabel">Adcionar Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="hidden" id="TxtId" class="form-check-input" value="10:00" style="margin-right: 10px;" disabled>
                            </div>

                            <!-- Campo de data -->
                            <div class="mb-3 d-flex align-items-center">
                                <input id="data_agdt" type="date" class="form-control" style="width: 300px;" placeholder="Escolha a data do agendamento" oninput="consultarAgendamento()">
                            </div>

                            <!-- DropDown de Tipo de Serviço -->
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    @Html.DropDownList("TipoServico", ViewBag.lstTipoServico as SelectList, "Escolha o tipo de Serviço", new { @class = "form-control", @style = "width:230px; background-color: #EAE7DC; color: #333;", required = "required" })
                                </div>
                                <div class="col-md-6">
                                    <label style="color:darkblue">*</label>
                                </div>
                            </div>

                            <fieldset>
                                <legend>Escolha o horário de atendimento:</legend>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk08" class="form-check-input" value="08:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk08">Atendimento das 8:00</label>
                                    <span id="Span08" style="color:darkblue;"></span>
                                </div>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk10" class="form-check-input" value="10:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk10">Atendimento das 10:00</label>
                                    <span id="Span10" style="color:darkblue;"></span>
                                </div>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk13" class="form-check-input" value="13:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk13">Atendimento das 13:00</label>
                                    <span id="Span13" style="color:darkblue;"></span>
                                </div>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk15" class="form-check-input" value="15:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk15">Atendimento das 15:00</label>
                                    <span id="Span15" style="color:darkblue;"></span>
                                </div>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk17" class="form-check-input" value="17:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk17">Atendimento das 17:00</label>
                                    <span id="Span17" style="color:darkblue;"></span>
                                </div>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk19" class="form-check-input" value="19:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk19">Atendimento das 19:00</label>
                                    <span id="Span19" style="color:darkblue;"></span>
                                </div>
                            </fieldset>

                            <input type="hidden" id="IdEdt" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="InserirUsuario()">Adicionar</button><!--onclick para chamar a funcao de alteração-->
                    </div>
                </div>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/swiper/swiper-bundle.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/script.js"></script>
      
        <script>

            // Impede a digitação manual no campo de data
            document.getElementById('data_agdt').addEventListener('keydown', function (e) {
                e.preventDefault(); // Bloqueia qualquer entrada do teclado
            });

            $(document).ready(function () {
                $('input[type="checkbox"]').click(function () {
                    var isChecked = $(this).prop("checked");
                    var groupId = $(this).attr("data-group");

                    if (isChecked) {
                        $('input[type="checkbox"][data-group="' + groupId + '"]').not($(this)).prop("checked", false);
                    }
                });
            });

            function consultarAgendamento() {
                ativarCheckboxes()
                limparTextosSpans()
                desmarcarCheckboxes()

                var data = $("#data_agdt").val();
                $.ajax({
                    type: "GET",
                    url: "/Agendamento/ConsultarAgendamento",
                    data: { data: data },
                    success: function (response) {

                        response.forEach(function (item) {
                            console.log(item.horario);

                            switch (item.horario) {
                                case "08:00:00":
                                    $("#chk08").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                    $("#Span08").text("Horario Indisponivel");
                                    break;
                                case "10:00:00":
                                    $("#chk10").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                    $("#Span10").text("Horario Indisponivel");
                                    break;
                                case "13:00:00":
                                    $("#chk13").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                    $("#Span13").text("Horario Indisponivel");
                                    break;
                                case "15:00:00":
                                    $("#chk15").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                    $("#Span15").text("Horario Indisponivel");
                                    break;
                                case "17:00:00":
                                    $("#chk17").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                    $("#Span17").text("Horario Indisponivel");
                                    break;
                                case "19:00:00":
                                    $("#chk19").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                    $("#Span19").text("Horario Indisponivel");
                                    break;
                                default:
                                    break;
                            }
                        });
                    },
                    error: function (error) {
                        // Manipule os erros aqui
                        console.error("Erro na requisição AJAX:", error);
                    }
                });
            }

            function ativarCheckboxes() {
                // Seletor para encontrar apenas os checkboxes dentro do modal com o ID "meuModal"
                var checkboxes = document.querySelectorAll('#InserirAgendamento input[type="checkbox"]');

                // Itera sobre os checkboxes encontrados e ativa-os
                checkboxes.forEach(function (checkbox) {
                    checkbox.disabled = false;
                });
            }

            function limparTextosSpans() {
                // Obtém todos os elementos <span> dentro do formulário
                var spans = document.querySelectorAll('#InserirAgendamento span');

                // Itera sobre os spans e define seu conteúdo como vazio
                spans.forEach(function (span) {
                    span.textContent = '';
                });
            }

            function desmarcarCheckboxes() {
                // Obtém todos os elementos <input type="checkbox"> dentro do formulário
                var checkboxes = document.querySelectorAll('#InserirAgendamento input[type="checkbox"]');

                // Itera sobre os checkboxes e desmarca todos
                checkboxes.forEach(function (checkbox) {
                    checkbox.checked = false;
                });
            }

            function limparFormulario() {
                var usuarioId = "@Context.Session.GetString("UsuarioId")";
                document.getElementById("TxtId").value = usuarioId;

                // Limpar campos de texto
                document.querySelectorAll('#InserirAgendamento input[type="text"]').forEach(function (input) {
                    input.value = '';
                });

                // Limpar campos de seleção
                document.querySelectorAll('#InserirAgendamento select').forEach(function (select) {
                    select.selectedIndex = 0;
                });

                // Desmarcar checkboxes

                // Limpar spans
                document.querySelectorAll('#InserirAgendamento span').forEach(function (span) {
                    span.textContent = '';
                });

                document.querySelectorAll('#InserirAgendamento input[type="checkbox"]').forEach(function (checkbox) {
                    checkbox.checked = false;
                    checkbox.disabled = true;
                });

            }

            function obterDataHoraFormatada() {
                // Obtém a data e hora atuais
                var dataHoraAtual = new Date();

                // Formata a data e hora para o formato desejado (por exemplo, "yyyy-MM-dd HH:mm:ss.fff")
                var dataHoraFormatada = dataHoraAtual.getFullYear() + "-" +
                    ("0" + (dataHoraAtual.getMonth() + 1)).slice(-2) + "-" +
                    ("0" + dataHoraAtual.getDate()).slice(-2) + " " +
                    ("0" + dataHoraAtual.getHours()).slice(-2) + ":" +
                    ("0" + dataHoraAtual.getMinutes()).slice(-2) + ":" +
                    ("0" + dataHoraAtual.getSeconds()).slice(-2) + "." +
                    ("00" + dataHoraAtual.getMilliseconds()).slice(-3);

                // Retorna a data e hora formatada
                return dataHoraFormatada;
            }

            function InserirAgendamentos() {

                //var id =
                var dataC = obterDataHoraFormatada();
                var data = $("#data_agdt").val();
                var servico = $("#DropServico").val();
                var atendimentos = [];
                if ($("#chk08").prop("checked")) atendimentos.push($("#chk08").val());
                if ($("#chk10").prop("checked")) atendimentos.push($("#chk10").val());
                if ($("#chk13").prop("checked")) atendimentos.push($("#chk13").val());
                if ($("#chk15").prop("checked")) atendimentos.push($("#chk15").val());
                if ($("#chk17").prop("checked")) atendimentos.push($("#chk17").val());
                if ($("#chk19").prop("checked")) atendimentos.push($("#chk19").val());


                if (!id) {
                    alert("Por favor, Insira aum Id");
                    return;
                }

                if (!dataC) {
                    alert("Por favor, selecione uma data de cadastro");
                    return;
                }
                if (!data) {
                    alert("Por favor, selecione uma data para o agendamento.");
                    return;
                }
                if (!servico) {
                    alert("Por favor, selecione o serviço.");
                    return;
                }
                if (atendimentos.length === 0) {
                    alert("Por favor, selecione pelo menos um horário para o agendamento.");
                    return; // Retorna da função se nenhum horário foi selecionado
                }
                var dados = {
                    id: id,
                    dataC: dataC,
                    data: data,
                    servico: servico,
                    atendimentos: atendimentos
                };
                console.log(dados)
                $.ajax({
                    url: '/Agendamento/InserirAgendamentos',
                    type: "POST",
                    dataType: "json",
                    data: dados,
                    success: function (response) {
                        if (response.success) {
                            alert("Agendamento(s) cadastrado(s) com sucesso!");
                            $('#InserirAgendamento').modal('hide'); // Substitua 'seuModal' pelo ID do seu modal
                            // Atualizar a página
                            location.reload();
                        } else {
                            alert("Erro ao cadastrar agendamento(s).");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert("Erro ao cadastrar agendamento(s): " + errorThrown);
                    }
                });
            }

            function AlterarAgendamento() {

                var id = $("#IdEdt").val();
                var servico = $('#DropServicoEdt option:selected').val();
                var data;
                var horario;
                if (!servico != 0) {
                    alert("Por favor, preencha o campo Tecnica.");
                    return;
                }
                if ($('#chkR').prop('checked')) {
                    data = $("#data_a").val(),
                        horario = $('#DropHorario option:selected').text()

                    if (!data) {
                        alert("Por favor, preencha o campo data.");
                        return;
                    }
                    if (!horario) {
                        alert("Por favor, preencha o campo horário.");
                        return;
                    }




                }
                else {

                    data = null,
                        horario = ""

                }

                var dados = {
                    id: id,
                    data: data,
                    servico: servico,
                    horario: horario
                };

                console.log(dados);
                $.ajax({
                    url: '/Agendamento/AlterarAgendamentos',
                    type: "POST",
                    dataType: "json",
                    data: dados,
                    success: function (response) {
                        if (response.success) {
                            alert("Agendamento(s) Alterados(s) com sucesso!");
                            $('#EditarAgendamento').modal('hide'); // Substitua 'seuModal' pelo ID do seu modal
                            // Atualizar a página
                            location.reload();
                        } else {
                            alert("Erro ao alterar agendamento(s).");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert("Erro ao cadastrar agendamento(s): " + errorThrown);
                    }
                });
            }

            function ExcluirAgendamento() {


                var userId = $('#IdExc').val();

                $.ajax({
                    type: "POST",
                    url: "/Agendamento/ExcluirAgendamento",
                    dataType: "json",
                    data: { id: userId },
                    success: function (response) {

                        if (response.success) {

                            alert("Agendamento excluido com sucesso!");
                            $('#ExcluirAgendamento').modal('hide');
                            location.reload();

                        } else {

                            alert("Falha ao excluir usuário.");
                        }
                    },
                    error: function () {

                        alert("Erro na requisição AJAX.");
                    }
                });
            }

        </script>

    </section>

</body>
