@model IEnumerable<Zona_Geek.Models.UsuarioVM>

@{
    Layout = "~/Views/Shared/_LayoutGerenciamento.cshtml";
}
<body>
    <section class="maneger-page-section">
        <div class="container page-maneger">

            <div class="add-user-button">
                <h1 class="section-title cliente-title-maneger">Gerenciamento de Usuários</h1>
                <br />
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-4">
                            <input id="filtro" type="text" class="form-control" placeholder="Pesquisar Usuarios..." aria-label="Filtrar" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <!-- Alteração para "text-md-end" para alinhar à direita apenas em telas médias e maiores -->
                        <button class="btn btn-success btn-lg" onclick="" data-bs-toggle="modal" data-bs-target="#InserirUsuario">
                            <i class="fa fa-plus"></i> Adicionar Cliente
                        </button>
                    </div>
                </div>
            </div>

            <div style="max-height: 400px; overflow-y: auto;">
                <!-- Tabela com cabeçalho fixo -->
                <table id="TbClientes" class="table" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                    <!-- Cabeçalho fixo -->
                    <thead style="background-color:  #315689; color: #EAE7DC;">
                        <tr>
                            <th style="border: 1px solid  #315689; padding: 8px; width: 50px; position: sticky; top: 0; background-color:  #315689; z-index: 2;">#</th>
                            <th style="border: 1px solid  #315689; padding: 8px; width: 190px; position: sticky; top: 0; background-color:  #315689; z-index: 2;">Nome</th>
                            <th style="border: 1px solid  #315689; padding: 8px; width: 230px; position: sticky; top: 0; background-color:  #315689; z-index: 2;">Senha</th>
                            <th style="border: 1px solid  #315689; padding: 8px; width: 312px; position: sticky; top: 0; background-color: #315689; z-index: 2;">Email</th>
                            <th style="border: 1px solid  #315689; padding: 8px; width: 160px; position: sticky; top: 0; background-color: #315689; z-index: 2;">Telefone</th>
                            <th style="border: 1px solid  #315689; padding: 8px; width: 170px; position: sticky; top: 0; background-color:  #315689; z-index: 2;">Tipo de Usuário</th>
                            <th class="editar" style="border: 1px solid  #315689; padding: 8px; position: sticky; top: 0; background-color:  #315689; z-index: 2;">Editar</th>
                            <th class="excluir" style="border: 1px solid  #315689; padding: 8px; position: sticky; top: 0; background-color:  #315689; z-index: 2;">Excluir</th>
                        </tr>
                    </thead>
                </table>

                <!-- Corpo da tabela rolável -->
                <div style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
                    <table id="TbClientesBody" class="table" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                        <tbody>
                            @foreach (var usuario in Model)
                            {
                                <tr>
                                    <td style="color: #315689; border: 1px solid #ddd; padding: 8px;width: 50px">@usuario.Id</td>
                                    <td style="color:  #315689; border: 1px solid #ddd; padding: 8px;width: 190px">@usuario.Nome</td>
                                    <td style="color:  #315689; border: 1px solid #ddd; padding: 8px; width: 230px">@usuario.Senha</td>
                                    <td style="color: #315689; border: 1px solid #ddd; padding: 8px; width: 312px">@usuario.Email</td>
                                    <td style="color:  #315689; border: 1px solid #ddd; padding: 8px; width: 160px">@usuario.Telefone</td>

                                    @if (usuario.TipoUsuario == 1)
                                    {
                                        <td style="color:  #315689; border: 1px solid #ddd; padding: 8px; width: 170px">Cliente</td>
                                    }
                                    else
                                    {
                                        <td style="color: #315689; border: 1px solid #ddd; padding: 8px; width: 170px">Cliente</td>
                                    }

                                    <td class="text-center" style="border: 1px solid #ddd;">
                                        <button class="btn btn-default" onclick="definirEdt('@usuario.Id', '@usuario.Nome','@usuario.Email', '@usuario.Senha', '@usuario.TipoUsuario', '@usuario.Telefone')" data-bs-toggle="modal" data-bs-target="#EditarUsuario" style="color: #EAE7DC;">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center" style="border: 1px solid #ddd;">
                                        <button class="btn btn-default" onclick="definirExc('@usuario.Id', '@usuario.Nome', '@usuario.Email', '@usuario.Telefone')" data-bs-toggle="modal" data-bs-target="#ExcluirUsuario" style="color: #EAE7DC;">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Contador de Registros Centralizado com Fonte Maior -->
            <div style="text-align: center; color: #315689; margin-top: 10px;">
                <strong style="font-size: 18px">Total de Usuários: <span id="registroCount">0</span></strong>
            </div>
        </div>

        <div class="modal fade" id="EditarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h1 class="modal-title" id="exampleModalLabel">Editar Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <p style="color:#315689">Campos com * Azul são obrigatórios</p>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EdtNome" type="text" class="form-control" placeholder="Digite o nome do cliente">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#315689">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EdtSenha" type="text" class="form-control" placeholder="Digite o a senha">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#315689">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-7">
                                    <input id="EdtEmail" type="email" class="form-control" placeholder="Digite o email">
                                </div>
                                <div class="col-md-5">
                                    <label style="color:#315689">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EdtTel" type="text" class="form-control" placeholder="Digite o telefone">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#315689">*</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    @Html.DropDownList("EdtTipoUsuario", ViewBag.lstTipoUsuario as SelectList, "Escolha o tipo de Usuário", new { @class = "form-control", @style = "width:230px; background-color: white; color: #333;", required = "required" })
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#315689">*</label>
                                </div>
                            </div>
                            <input type="hidden" id="EdtId" value="" />

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick=" AtualizarUsuario()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ExcluirUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h1 class="modal-title" id="exampleModalLabel">Excluir Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" id="ExcNome" class="form-control" placeholder="Digite seu nome..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" id="ExcEmail" class="form-control" placeholder="Digite seu email..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite seu telefone..." readonly>

                            </div>
                            <input type="hidden" id="IdExc" class="form-control" placeholder="Digite seu nome..." readonly>

                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" onclick="ExcluirUsuario()" class="btn btn-primary">Excluir</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>        

        <div class="modal fade" id="InserirUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h1 class="modal-title" id="exampleModalLabel">Adcionar Usuario</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <p style="color:#315689">Campos com * A são obrigatórios</p>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="Nome" type="text" class="form-control" placeholder="Digite o nome do cliente">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#315689">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="Senha" type="text" class="form-control" placeholder="Digite o a senha">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#315689">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-7">
                                    <input id="Email" type="email" class="form-control" placeholder="Digite o email">
                                </div>
                                <div class="col-md-5">
                                    <label style="color:#315689">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="Telefone" type="text" class="form-control" placeholder="Digite o telefone">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#315689">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    @Html.DropDownList("TipoUsuario", ViewBag.lstTipoUsuario as SelectList, "Escolha o tipo de Usuário", new { @class = "form-control", @style = "width:230px; background-color: white; color: #333;", required = "required" })
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#315689">*</label>
                                </div>
                            </div>      

                            <input type="hidden" id="Id" value="" />

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="InserirUsuario()">Adicionar</button><!--onclick para chamar a funcao de alteração-->
                    </div>
                </div>
            </div>
        </div>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/swiper/swiper-bundle.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/script.js"></script>

       
        <script>

            $(document).ready(function () {
                // Função para atualizar o contador de registros visíveis
                function atualizarContador() {
                    var visibleRows = $('#TbClientesBody tbody tr:visible').length; // Conta as linhas visíveis
                    $('#registroCount').text(visibleRows); // Atualiza o contador
                }

                // Quando o usuário digitar no campo de filtro
                $('#filtro').on('keyup', function () {
                    var value = $(this).val().toLowerCase(); // Pega o valor do campo de filtro e converte para minúsculas

                    // Filtra as linhas do corpo da tabela
                    $('#TbClientesBody tbody tr').each(function () {
                        // Verifica se qualquer célula na linha contém o valor digitado no filtro
                        var rowText = $(this).text().toLowerCase();
                        // Exibe ou oculta a linha, dependendo de conter o valor
                        $(this).toggle(rowText.indexOf(value) > -1);
                    });

                    // Atualiza o contador após filtrar as linhas
                    atualizarContador();
                });

                // Inicializa o contador de registros ao carregar a página
                atualizarContador();
            });

            function definirEdt(id, Nome, Email, Senha, TipoUsuario, Telefone) {

                $('#EdtId').val(id);
                $('#EdtNome').val(Nome);
                $('#EdtSenha').val(Senha);
                $('#EdtEmail').val(Email);
                $('#EdtTel').val(Telefone);


                var senhaValue = "";
                if (Senha) {
                    $('#EditSenha').val(Senha);
                    senhaValue = Senha;
                }


                if ($('#EdtTipoUsuario').length > 0) {
                    $('#EdtTipoUsuario option').filter(function () {
                        return $(this).val() === TipoUsuario;
                    }).prop('selected', true);
                    $('#EdtTipoUsuario').trigger('chosen:updated');
                } else {
                    console.error("DropDownList não encontrado.");
                }
            }

            function definirExc(id, Nome, Email, Telefone) {

                $('#ExcId').val(id);
                $('#ExcNome').val(Nome);
                $('#ExcEmail').val(Email);
                $('#ExcTel').val(Telefone)
            }

            function InserirUsuario() {

                var nome = $('#Nome').val();
                var email = $('#Email').val();
                var senha = $('#Senha').val();
                var telefone = $('#Telefone').val();
                var tipoUsuario = $('#TipoUsuario option:selected').val();

                if (nome.trim() === "") {
                    alert("Por favor, preencha o campo Nome.");
                    return;
                }
                if (senha.trim() === "") {
                    alert("Por favor, preencha o campo Senha.");
                    return;
                }
                if (email.trim() === "") {
                    alert("Por favor, insira um email válido.");
                    return;
                }

                if (tipoUsuario === "Escolha o Tipo de Usuário") {
                    alert("Por favor, selecione o tipo de usuário.");
                    return;
                }

                if (telefone.trim() === "") {
                    alert("Por favor, insira um número de telefone válido.");
                    return;
                }

                var dados = {
                    Nome: nome,
                    Email: email,
                    Senha: senha,
                    Telefone: telefone,
                    TipoUsuario: tipoUsuario
                };

                console.log(dados)
                // Faça a chamada AJAX
                $.ajax({
                    url: '/Usuario/InserirUsuario',
                    type: "POST",
                    dataType: "json",
                    data: dados,
                    success: function (resultado) {
                        if (resultado.success) {
                            alert(resultado.message);  // Exibe a mensagem de sucesso
                            // Fecha o modal
                            $('#InserirUsuario').modal('hide');
                            // Recarrega a págInserirUsuarioina
                            location.reload();
                        } else {
                            alert(resultado.message);  // Exibe a mensagem de falha
                        }
                    },
                    error: function () {
                        alert('Erro na requisição AJAX.');
                    }
                });
            }

            function AtualizarUsuario() {

                var id = $('#EdtId').val();
                var nome = $('#EdtNome').val() || ''; // Garante que a variável não seja undefined ou null
                var email = $('#EdtEmail').val() || ''; // Garante que a variável não seja undefined ou null
                var senha = $('#EdtSenha').val() || ''; // Garante que a variável não seja undefined ou null
                var telefone = $('#EdtTel').val() || ''; // Garante que a variável não seja undefined ou null
                var tipoUsuario = $('#EdtTipoUsuario option:selected').val() || ''; // Garante que a variável não seja undefined ou null

                // Valida os dados
                if (nome.trim() === "") {
                    alert("Por favor, preencha o campo Nome.");
                    return;
                }
                if (senha.trim() === "") {
                    alert("Por favor, preencha o campo Senha.");
                    return;
                }
                if (email.trim() === "") {
                    alert("Por favor, insira um email válido.");
                    return;
                }
                if (tipoUsuario === "" || tipoUsuario === "Escolha o Tipo de Usuário") {
                    alert("Por favor, selecione o tipo de usuário.");
                    return;
                }
                if (telefone.trim() === "") {
                    alert("Por favor, insira um número de telefone válido.");
                    return;
                }

                var dados = {
                    Id: id, // ID do usuário a ser atualizado
                    Nome: nome,
                    Email: email,
                    Senha: senha,
                    Telefone: telefone,
                    TipoUsuario: tipoUsuario
                };

                // Requisição AJAX para atualizar o usuário
                $.ajax({
                    url: '/Usuario/AtualizarUsuario',  // URL para a ação de atualizar no servidor
                    type: "POST",
                    dataType: "json",
                    data: dados,
                    success: function (resultado) {
                        if (resultado.success) {
                            alert(resultado.message);  // Exibe a mensagem de sucesso
                            $('#InserirUsuario').modal('hide'); // Fecha o modal de inserção/atualização
                            location.reload(); // Recarrega a página para refletir as alterações
                        } else {
                            alert(resultado.message);  // Exibe a mensagem de falha
                        }
                    },
                    error: function () {
                        alert('Erro na requisição AJAX.');
                    }
                });
            }

            function ExcluirUsuario() {
                var id = $('#ExcId').val();  // Pega o valor do ID do campo hidden
                console.log("ID a ser excluído: ", id);  // Verifique se o ID está sendo corretamente recuperado

                var dados = { Id: id };  // Dados a enviar para o servidor (ID do usuário)

                // Requisição AJAX para excluir o usuário
                $.ajax({
                    url: '/Usuario/ExcluirUsuario',  // URL para a ação de exclusão no servidor
                    type: "POST",
                    dataType: "json",
                    data: dados,
                    success: function (resultado) {
                        // Verifica se a resposta contém sucesso ou falha
                        if (resultado.success) {
                            alert(resultado.message);  // Exibe a mensagem de sucesso
                            location.reload(); // Recarrega a página para refletir as mudanças
                        } else {
                            alert("Esse usuario possui relacionamento com atendimento e não pode ser excluido");  // Exibe a mensagem de falha
                        }
                    },
                    error: function () {
                        alert('Erro na requisição AJAX.');  // Caso haja algum erro na requisição AJAX
                    }
                });
            }

            document.getElementById('filtro').addEventListener('input', function () {
                const filterValue = this.value.toLowerCase(); // Get the input value and convert to lowercase
                const userItems = document.querySelectorAll('.user-item'); // Select all user items

                userItems.forEach(item => {
                    const userName = item.textContent.toLowerCase(); // Get the text of the user item and convert to lowercase
                    if (userName.includes(filterValue)) {
                        item.style.display = ''; // Show the item if it matches the filter
                    } else {
                        item.style.display = 'none'; // Hide the item if it doesn't match
                    }
                });
            });

        </script>

    </section>

</body>
